body{
	background-color: black;
}

.h_random_1{
	width: 50px;
	height: 50px;
	position: absolute;
	/*background-color: white;*/
	left: 700px;
}

.h_random_2{
	width: 50px;
	height: 50px;
	position: absolute;
	/*
	background-color: white;*/
	top: 600px;
	left: 500px;
}

.h_random_3{
	width: 50px;
	height: 50px;
	position: absolute;
	/*background-color: white;*/
	top: 575px;
	left: 1000px;
}

.h_random_4{
	width: 50px;
	height: 50px;
	position: absolute;
	/*background-color: white;*/
	top: 800px;
	left: 750px;
}

.h_left{
	width: 300px;
	height: 765px;
	position: absolute;
	/*background-color: blue;*/
}

.h_right{
	width: 300px;
	height: 765px;
	position: absolute;
	left: 1125px;
	/*background-color: red;*/
}


/*div.hover{
	animation:blur 2.5s ease-out infinite;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}*/

.alpha_1{
	position: absolute;
	top: 150px;
	left: 250px;
}

.alpha_2{
	position: absolute;
	top: 300px;
	left: 295px;
}

.alpha_3{
	position: absolute;
	top: 450px;
	left: 380px;
}

.alpha_4{
	position: absolute;
	top: 600px;
	left: 575px;
}


.vertical:hover{
	background-color: #4AFFE9;
}

.horizontal:hover{
	background-color: #EA2C2C;
}

.diagonal:hover{
	background-color: #B359FF;
}

.v_1{
	width: 2px;
	height: 100px;
	position: absolute;
	background-color: white;
}



.v_2{
	width: 2px;
	height: 50px;
	position: absolute;
	background-color: white;
}

/*.v_2:hover{
	background-color: #A2FF00;
}*/

.v_3{
	width: 2px;
	height: 46px;
	position: absolute;
	background-color: white;
}

/*.v_3:hover{
	background-color: #B359FF;
}*/

.v_4{
	width: 2px;
	height: 94px;
	position: absolute;
	background: white;
}

/*.v_4:hover{
	background-color: #B359FF;
}*/


.v_5{
	width: 2px;
	height: 37px;
	position: absolute;
	background: white;
}

/*.v_5:hover{
	background-color: #B359FF;
}*/


.v_6{
	width: 2px;
	height: 75px;
	position: absolute;
	background-color: white;
}

/*.v_6:hover{
	background-color: #B359FF;
}*/


.h_1{
	width: 50px;
	height: 2px;
	position: absolute;
	background: white;
}

/*.h_1:hover{
	background-color: #FF0000;
}*/

.h_2{
	width: 40px;
	height: 2px;
	position: absolute;
	background: white;
}

.h_3{
	width: 35px;
	height: 2px;
	position: absolute;
	background: white;
}

.h_4{
	width: 44px;
	height: 2px;
	position: absolute;
	background-color: white;
}

.h_5{
	width: 28px;
	height: 2px;
	position: absolute;
	background: white;
}

.h_6{
	width: 38px;
	height: 2px;
	position: absolute;
	background: white;
}

.s_h_1{
	width: 6px;
	height: 2px;
	position: absolute;
	background: white;
}

.s_h_2{
	width: 6px;
	height: 2px;
	position: absolute;
	background: white;
}

.s_v_1{
	width: 2px;
	height: 4px;
	position: absolute;
	background-color: white;
}

.p_v_1{
	width: 2px;
	height: 15px;
	position: absolute;
	background-color: white;
}

.p_v_2{
	width: 2px;
	height: 50px;
}

.p_h_1{
	width: 7px;
	height: 2px;
	position: absolute;
	background-color: white;
}

.d_1{
	width: 2px;
	height: 113px;
	transform: rotate(30deg);
	position: absolute;
	background-color: white;
}

.d_2{
	width: 2px;
	height: 57px;
	transform: rotate(50deg);
	position: absolute;
	background-color: white;
}

.d_3{
	width: 2px;
	height: 100px;
	transform: rotate(-11.5deg);
	position: absolute;
	background-color: white;
}

.d_4{
	width: 2px;
	height: 108px;
	transform: rotate(-24deg);
	position: absolute;
	background-color: white;
}

.d_5{
	width: 2px;
	height: 100px;
	transform: rotate(11.5deg);
	position: absolute;
	background-color: white;
}

.d_6{
	width: 2px;
	height: 54px;
	transform: rotate(24deg);
	position: absolute;
	background-color: white;
}

.a{
	position: absolute;
}



.b{
	position: absolute;
	left: 75px;
}

.c{
	position: absolute;
	left: 150px;
}

.d{
	position: absolute;
	left: 225px;
}

.e{
	position: absolute;
	left: 300px;
}

.f{
	position: absolute;
	left: 375px;
}

.g{
	position: absolute;
	left: 450px;
}

.h{
	position: absolute;
	left: 525px;
}

.i{
	position: absolute;
	left: 600px;
}

.j{
	position: absolute;
	left: 625px;
}

.k{
	position: absolute;
	left: 700px;
}

.l{
	position: absolute;
	left: 775px;
}

.m{
	position: absolute;
	left: 850px;
}

.n{
	position: absolute;
	left: 925px;
}

.o{
	position: absolute;
}

.p{
	position: absolute;
	left: 75px;
}

.q{
	position: absolute;
	left: 150px;
}

.r{
	position: absolute;
	left: 225px;
}

.s{
	position: absolute;
	left: 300px;
}

.t{
	position: absolute;
	left: 375px;
}

.u{
	position: absolute;
	left: 450px;
}

.v{
	position: absolute;
	left: 525px;
}

.w{
	position: absolute;
	left: 600px;
}

.x{
	position: absolute;
	left: 680px;
}

.y{
	position: absolute;
	left: 755px;
}

.z{
	position: absolute;
	left: 830px;
}

.one{
	position: absolute;
}

.two{
	position: absolute;
	left: 30px;
}

.three{
	position: absolute;
	left: 105px;
}

.four{
	position: absolute;
	left: 180px;
}

.five{
	position: absolute;
	left: 255px;
}

.six{
	position: absolute;
	left: 330px;
}

.seven{
	position: absolute;
	left: 405px;
}

.eight{
	position: absolute;
	left: 480px;
}

.nine{
	position: absolute;
	left: 555px;
}

.zero{
	position: absolute;
	left: 630px;
}

.period{
	position: absolute;
}

.comma{
	position: absolute;
	left: 35px;
}

.exclaim{
	position: absolute;
	left:70px;
}

.quote_1a{
	position: absolute;
	left: 105px;
}

.quote_1b{
	position: absolute;
	left: 128px;
}

.quote_2a{
	position: absolute;
	left: 160px;
}

.quote_2b{
	position: absolute;
	left: 183px;
}

.question{
	position: absolute;
	left: 250px;
}