body{
	background-color: white;
}

p{
	font-family: 'Inconsolata', monospace;
}

.about{
	position: absolute;
	width: 600px;
	top: 300px;
	left: 400px;
	text-align: center;
}

.hello{
	position: absolute;
	top: 150px;
	left: 500px;
}

.v_1{
	width: 2px;
	height: 100px;
	position: absolute;
	background-color: black;
}

.v_3{
	width: 2px;
	height: 46px;
	position: absolute;
	background-color: black;
}

.v_4{
	width: 2px;
	height: 94px;
	position: absolute;
	background: black;
}

.v_6{
	width: 2px;
	height: 75px;
	position: absolute;
	background-color: black;
}

.h_1{
	width: 50px;
	height: 2px;
	position: absolute;
	background: black;
}

.h_3{
	width: 35px;
	height: 2px;
	position: absolute;
	background: black;
}

.h_4{
	width: 44px;
	height: 2px;
	position: absolute;
	background-color: black;
}

.s_h_1{
	width: 6px;
	height: 2px;
	position: absolute;
	background: black;
}

.s_v_1{
	width: 2px;
	height: 4px;
	position: absolute;
	background-color: black;
}

.p_v_1{
	width: 2px;
	height: 15px;
	position: absolute;
	background-color: black;
}

.p_h_1{
	width: 7px;
	height: 2px;
	position: absolute;
	background-color: black;
}

.h{
	position: absolute;
}

.e{
	position: absolute;
	left: 75px;
}

.l_1{
	position: absolute;
	left: 150px;
}

.l_2{
	position: absolute;
	left: 225px;
}

.o{
	position: absolute;
	left: 300px;
}

.exclaim{
	position: absolute;
	left: 375px;
	top:-15px;
}
