html{
	overflow: hidden;
}


p{
	font-family: 'Noto Sans', sans-serif;
}

.image-g{
	margin-top: 23%;
	margin-left: 13.35%;
	position: absolute;
	z-index: 7;

}

.image-g-s{
	width: 41.1%;
	height: 37%;
	margin-top: 23%;
	margin-left: 13.35%;
	position: absolute;
	box-shadow: 8px 8px 5px #cf6328;
	z-index: 6;

}

.image-o{
	margin-top: 19%;
	margin-left: 19.8%;
	position: absolute;
	z-index: 9;
}

.image-o-s{
	width: 36.1%;
	height: 70%;
	margin-top: 19%;
	margin-left: 19.8%;
	position: absolute;
	z-index: 8;
	box-shadow: 8px 8px 5px #b91d1a;
}


.image-r{
	margin-top: 14.4%;
	margin-left: 34%;
	position: absolute;
	z-index: 11;
}


.image-r-s{
	width: 35%;
	height: 31.4%;
	margin-top: 14.4%;
	margin-left: 34%;
	position: absolute;
	z-index: 10;
	box-shadow: 8px 8px 5px #059118;
}

.image-dg{
	margin-top: -2.5%;
	margin-left: 37.6%;
	position: absolute;
	z-index: 13;
}

.image-dg-s{
	width: 25%;
	height: 45%;
	margin-top: -2.5%;
	margin-left: 37.6%;
	position: absolute;
	box-shadow: 8px 8px 5px #027ebc;
	z-index: 12;
}


.cyan{
	width: 3.2%;
	height: 0;
	padding-bottom: 3.2%;
	border-radius: 50%;
	background-color: #027ebc;
	position: absolute;
	left: 52%;
	top: 7.25%;
	z-index: 14;

	-webkit-animation-name: greenPulse;
  	-webkit-animation-duration: 2.5s;
  	-webkit-animation-iteration-count: infinite;
  	transition: all 2s ease-in-out;
}

@-webkit-keyframes greenPulse {
  from { background-color: #027ebc; -webkit-box-shadow: 0 0 9px #7F7E7E; }
  50% { background-color: #2AA5E1; -webkit-box-shadow: 0 0 18px #2AA5E1; }
  to { background-color: #027ebc; -webkit-box-shadow: 0 0 9px #7F7E7E; }
}


